<section class="about" id="about">
<div class="side-image">
  <div class="images-wrapper"></div>
  <div class="side-image-content">
      <h1>About Us</h1>
      <p>UCreate3D brings 3D Printing to the masses by making it affordable and fun. With us you can experience the power of flexibility of custom 3D printing. We take care of everything so it's easy, hassle free and shows up right on your doorstep. With the click of a button you get the exact product you want at the price you expect.</p>
  </div>
</div>
</section>