<section class="business">
<div class="for-business-header" id="business">
  
{% capture businessheader %}{% include copy/business-header.md %}{% endcapture %}
{{ businessheader | markdownify }}

</div>

<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box">
    <img src="/i/biz-redcase-370x278.jpg" alt="">
    <h1 class="flex-title">Corporate Gifts</h1>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="/i/biz-philz-370x278.jpg" alt="">
    <h1 class="flex-title">Conferences</h1>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="/i/biz-alumnify-370x278.jpg" alt="">
    <h1 class="flex-title">Events</h1>
  </a>
</div>

<a href="mailto:sales@getgrom.com" class="bordered">  GET A QUOTE  </a>

</section>