<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <div class="formerly"><img src="/i/uc3d-logo.png" alt="UCreate3d"></div>
    <!-- <a href="/" class="logo">
      <object data="/i/grom-60H.svg" type="image/svg+xml">
        <div class="logo-fallback"></div>
      </object>
    </a> -->
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="#top">Home</a></li>
        <li class="nav-link"><a href="#design">Design</a></li>
        <li class="nav-link"><a href="#about">About Us</a></li>
        <li class="nav-link"><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
