section.business {
  @include outer-container(60%);
  text-align: left;
  padding: 0 0 3em 0;

  h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
  }
  
  a.bordered {
    @include bbb-bordered-style(#333, #333);
    font-weight: bold;
    white-space: pre;
    
    &:hover {
      color: white;
      background: #333;
    }
  }
  
  &:after {
    content: '';
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    border-top: 2px solid #444;    
  }

  .flex-boxes {
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $base-font-color: $dark-gray !default;
    $flex-box-border-color: $light-gray;
    $flex-box-border: 1px solid $flex-box-border-color;
    $flex-box-background: lighten($light-gray, 10%);
    $flex-box-gutter: 0.4em;
    $flex-box-width: 18em;
    $flex-box-color: transparentize($base-font-color, 0.3);

    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: center;

    .flex-box {
      @include transition (all 0.2s ease-in-out);
      @include flex(2 2 15em);
      @include align-self(stretch);
      display: block;
      margin: $flex-box-gutter;
      padding: 2em 2em 2em 2em;
      text-decoration: none;

      img {
        display: block;
       // height: 3em;
        margin-bottom: 1em;
       // opacity: 0.4;
      }

      .flex-title {
        color: $flex-box-color;
        font-size: 1.2em;
        margin-bottom: 0.5em;
        text-align: left;
      }

      p {
        color: transparentize($flex-box-color, 0.1);
        line-height: 1.5em;
        margin: auto;
      }
    }

    .flex-box-big {
      @include flex(1 1 40em);
    }
  }

}

.for-business-header {
  //@include texture(180deg, $texture-top-background, $texture-bottom-background, 63, 1);
  @include padding(4em null null 1em);
  text-align: left;
  width: 100%;
  
  h1 {
    font-size: 2.0em;
    margin-bottom: 0.5em;
  }
  
  p {
    font-size: 1.4em;
    font-weight: 400;
  }
  
}
